<input 
    name="{{name}}" 
    type="text" 
    class="form-control" 
    id="{{id}}"
    placeholder="{{displayName}}" 
    {{ternary required 'required' ''}}
    aria-labelledby="{{id}}-lbl"
    aria-required="{{required}}"
    {{#if pattern}}pattern="{{pattern}}"{{/if}}
>
<label id="{{name}}-lbl" for="{{id}}">{{displayName}}</label>