<div class="modal fade" data-focus="false" tabindex="-1" id="{{id}}" aria-labelledby="{{id}}-title" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                {{#if ./titleTemplate}}
                    {{> (lookup . 'titleTemplate') }}
                {{ else }}
                    <h1 id="{{id}}-title" class="modal-title">{{title}}</h1>
                {{/if}}
                <button type="button" class="btn btn-outline-secondary btn-sm focus-ring" data-bs-dismiss="modal"
                    aria-label="Close">
                    <svg class="bi" aria-hidden="true">
                        <use xlink:href="#x-lg"></use>
                    </svg>
                </button>
            </div>
            <div class="modal-body">
                {{> @partial-block }}
            </div>
        </div>
    </div>
</div>