<div class="visually-hidden-focusable">
    <div class="container-xl">
        <a class="d-inline-flex p-2 m-1" href="#content">Skip to content</a>
    </div>
</div>

<%- include('/views/shared/navbar.ejs'); %>

<%- include('/views/shared/navigation-sidebar.ejs'); %>

<%- include('/views/shared/menu-sidebar.ejs'); %>

<%- include('/views/shared/create-new-modal.ejs'); %>

<%- include('/views/shared/markdown-modal.ejs'); %>

<%- include('/views/shared/keybinds-modal.ejs'); %>

<%- include('/views/shared/project-map-modal.ejs'); %>

<%- include('/views/shared/history-modal.ejs'); %>

<%- include('/views/shared/tags-modal.ejs'); %>

<script src="scripts/shared/header.js"></script>